/*section home e planos linha de divisao*/
section{
    display: flex;
    border-bottom: 1px solid rgb(184, 5, 5);
    padding: 0em 0em 2em;
}
/*body*/
body{
    background-color: rgb(250, 239, 226);
    margin: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px ;
    border-bottom: 1px solid rgb(184, 5, 5);
    
}
/*z*/
span{
    color: red;
    
}
/*frase principal*/
.principal{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;
}
/*logo e form e menu*/
.menu ul{
    display: flex;
}
/*borda vermelha nos itens do menu*/
.menu li{
    border: 2px solid red;
    border-radius: 10px;
    padding-left: 3px;
}
/*hover nos itens do menu*/
.menu a:hover{
    color: red;
}
/*espaçamento igual para os itens da header*/
header{
    display: flex;
    justify-content: space-between;
}
/*botao da conta gratuita*/
.conta{
    background-color: rgb(249, 227, 207);
    border-radius: 30px;
    font-size: 15px;
    height: 30px;
}
/*hover do botao da conta gratuita*/
.conta:hover{
    background-color: red;
    transition: all 0.3s;
}
/*tirar a bolinha da frente do menu fonte e tamanho*/
a:link {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
/*cor das letras*/
a{
    color: black; 
}
/*home*/
.oquesomos{
    padding: 20px;
    border-radius: 5px;
    font-size: 21px;
    margin-right: 50px ;
    border: 2px solid red;
    padding-top: 45px;
    margin-top: 50px;
    margin-left: 150px;
}
.oqueoferecemos{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    height: 380px;
    border: 2px solid red;
    margin-top: 70px;
    
}
/*dois h1, direção cor e tamanho da letra*/
.oqs{
    color: red;
    text-align: center;
    margin-top: 10px;
}
.oqo{
    color: red;
}
/*tirou a bolinha da frente do texto*/
li{
    list-style-type: none;
}

/*planos oferecido*/
/*titulo h1*/
.po{
    margin: 80px ;
    text-align: center;
    font-size: 35px;  
}
.planofree{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    width: 300px;
    height:468px ;
    background-color:red;
    color: white;
    text-align: center;
}
.planomensal{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    width: 300px;
    height:468px ;
    background-color:red;
    color: white;
    text-align: center;
    margin-left: 150px;
    padding-right: 30px;
}
.planoanual{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    width: 300px;
    height:468px ;
    background-color:red;
    color: white;
    text-align: center;
    margin-left: 150px;
    padding-right: 30px;
}
/*section*/
#pm{
    margin-top: 3px;
   margin-left: 30px;
}
#pa{
    margin-top: 1px;
    margin-left: 30px;
    
}
/*h4 plano mensal*/
.planom{
    margin-left: 30px;
}
/*bordas nos containers*/
#planos{
    border-bottom: 1px solid rgb(184, 5, 5);
    padding: 40px;
}
/*botao cadastrar*/
.submit_btn{
    float: left;
    display: block;
    padding: 5px 20px;
    border: none;
    outline: none;
    background-color: rgb(255, 247, 237);
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 6px;
    margin: 15px auto;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 70px;
    
}
.submit_btn:hover{
    background-color: rgb(219, 216, 216);
    color: red;
    transform: scale(1.03);
}
/*imagem calendario e h1*/
.calendario{
    margin-top: 60px;
}
/*margem na section e direção*/
#oqueoferecemos{
    justify-content: space-around;
    margin-top: 20px;
}
/*h1 produtos título*/
.prod{
    text-align: center;
    margin-top: 60px;
}
/*footer*/
footer{
  font-size: 15px;
  text-align: center;
}

